@model IEnumerable<dziennikzywieniowy.Models.Entry>

<h2>Lista posiłków</h2>

<form method="get" class="mb-3">
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Nazwa posiłku" value="@ViewBag.Search" />
        </div>
        <div class="col-md-4">
            <input type="date" name="date" class="form-control" value="@ViewBag.Date" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Szukaj</button>
            <a asp-action="Index" class="btn btn-secondary">Wyczyść</a>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>Nazwa posiłku</th>
            <th>Data</th>
            <th>Kalorie</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.MealName</td>
                <td>@entry.Date.ToShortDateString()</td>
                <td>@entry.Calories</td>
                <td>
                    <a class="btn btn-primary" href="/Entries/Edit/@entry.Id">Edytuj</a>
                    <a class="btn btn-danger" href="/Entries/Delete/@entry.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" asp-action="Create">Dodaj nowy posiłek</a>